body {
  background-color: #fff;
  font-family: 'Inconsolata', monospace;
  /*background: rgb(2,0,36);*/
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,45,103,1) 29%, rgba(50,102,182,1) 100%);*/
  color: black;
}

canvas {
  border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#app-container {
  display: flex;
  max-width: 600px;
  margin: 4px;
}

#prediction-container {
  display: flex;
  background-color: #FAF5FB;
  border: 1px solid #333;
  align-items: center;
  justify-content: center;
  margin: 6px;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#prediction {
  font-size: 4rem;
}

#header-container {
  border: 1px dotted #222;
  margin: 4px;
  padding: 12px;
}

#paint-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dotted #222;
  margin: 4px;
  padding: 12px;
}

#stats-container {
  border: 1px dotted #222;
  width: 100%;
  margin: 4px;
  padding: 6px 12px 12px 12px;
}

#cursor-stats {
}

#vector {
  display: block;
  word-wrap: break-word;
  font-size: 0.8rem;
}
