body {
  background-color: #ffffff;
  font-family: 'Inconsolata', monospace;
  margin: auto;
  color: #5d8671;
}

h1, h2, h3, h4 {
  color: #7ca391;
  padding: 4px;
}

table {
  border: none;
}

td {
  padding: 2px;
  text-align: center;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

.shadow {
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dotted-border {
  border: 1px dotted #D5EDE0;
}

.solid-border {
  border: 1px solid #D5EDE0;
}

.vector-row {
}

.vector-bit {
  padding: 1px 2px;
  margin: 1px;
  text-aligin: center;
}

.bit-hot {
  color: #88ac9e;
}

.bit-not {
  color: #dfede4;
}

.prediction-section {
  flex-grow: 1;
  margin: 4px;
}

#control-buttons {
  margin: 8px 0;
}

#model-selection {
  margin: 8px 0;
}

#app-container {
  display: flex;
  max-width: 600px;
}

#prediction-container {
}

#prediction {
  font-size: 2rem;
}

#scores-container {
}

#scores {
}

.container {
  margin: 4px;
  padding: 2px 12px 8px 12px;
}

#paint-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#stats-container {
  width: 100%;
}

#vector {
  display: block;
  word-wrap: break-word;
  font-size: 0.8rem;
}
