body {
  background-color: #fff;
  font-family: 'Inconsolata', monospace;
  margin: auto;
  color: #222;
}

.shadow {
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dotted-border {
  border: 1px dotted #888;
}

.solid-border {
  border: 1px solid #888;
}

#app-container {
  display: flex;
  max-width: 600px;
}

#prediction-container {
  display: flex;
  background-color: #FAF5FB;
  align-items: center;
  justify-content: center;
  margin: 6px;
  height: 100%;
  width: 100%;
}

#prediction {
  font-size: 4rem;
}

#header-container {
  margin: 4px;
  padding: 12px;
}

#paint-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  padding: 12px;
}

#stats-container {
  width: 100%;
  margin: 4px;
  padding: 6px 12px 12px 12px;
}

#cursor-stats {
}

#vector-container {

}

#vector {
  display: block;
  word-wrap: break-word;
  font-size: 0.8rem;
}
